:root {

  --open-sans: 'Open Sans', sans-serif;
  --lato: 'Lato', sans-serif;
  --mullish: 'Mullish', sans-serif;

  --opt-orange: #ff612b;
  --opt-skyblue: #d9f6fa;
  --opt-warmwhite: #fbf9f4;
  --opt-darkblue: #002677;
  --opt-darkgray: #5a5a5a;

  --opt-success: #007000;
  --opt-alert: #c40000;
  --opt-callout: #f5b700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    background: var(--opt-warmwhite);
    height: 100vh;
    width: 100%;
    font-family: var(--open-sans);
    font-size: 1em;
    color: var(--color-primary);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    /* prevent shift right on modal load */
    padding-right: 0px !important; 
    position: relative!important;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* forms */

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}


/* provider */
.provider-icon-button {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--opt-skyblue);
    /* fill: var(--opt-skyblue); */
    border-radius: 50%;
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    border:none;
    box-shadow: 0px 0px 2px 2px rgb(52, 51, 51);
    background: #fbf9f4;
    box-shadow:  5px 5px 24px #696966,
      -5px -5px 24px #ffffff;
}

.provider-icon {
    width: 2rem;
    height: 2rem;
    color: var(--opt-darkblue);
    /* margin-left: 0..25rem; */
}
