:root {

  --open-sans: 'Open Sans', sans-serif;
  --lato: 'Lato', sans-serif;
  --mullish: 'Mullish', sans-serif;
  --mont: 'Montserrat Alternates', sans-serif;
  --poppins: 'Poppins', sans-serif;

  --opt-orange: #ff612b;
  --opt-skyblue: #d9f6fa;
  --opt-warmwhite: #fbf9f4;
  --opt-darkblue: #002677;
  --opt-darkgray: #5a5a5a;

  --opt-success: #007000;
  --opt-alert: #c40000;
  --opt-callout: #f5b700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    background: var(--opt-warmwhite);
    /* background: black; */
    height: 100vh;
    width: 100%;
    font-family: var(--poppins);
    font-size: 1em;
    color: var(--opt-darkgray);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    /* prevent shift right on modal load */
    padding-right: 0px !important; 
    position: relative!important;
    /* stop horizontal scroll */
    overflow-x: hidden;
    scroll-behavior:smooth;
}


/* header */
.myNav {
  border-bottom: 1px solid var(--opt-orange);
  background: var(--opt-warmwhite);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.med-view {
  /* font-size: 2.5em; */
  font-weight: 700;
  color: var(--opt-orange);
  font-family: var(--mont);
}
.nav-item {
  width: 100%;
  word-wrap: none;
}
.nav-link {
  color: var(--opt-darkgray);
  font-weight: 600;
}
.navbar-toggler {
  border: none;
  outline: none;
  background: none;
  color: var(--opt-warmwhite);
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
  background: none;
  outline: none;
}

.main {
  
  align-items: center;
  width: 100%;
  height: 90vh;

}
.logout {
  background: none;
  border: none;
  color: var(--opt-darkgray);
  font-weight: 600;
}
.logout:hover,
.logout:focus,
.logout:active {
  background: none;
  outline: none;
  color: #3399F3;
  border: none;
}

h2, h3, h4, h5  {
  color: var(--opt-darkblue)!important;
  font-weight: 700;
}

h4 {
  color: var(--opt-darkblue);
  font-weight: 600;
}

.view {
  height: 90vh;
}
.view-content {
  margin: auto;
}
.holder {
  height: 90vh;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */
  align-items: center;
}

/* forms */

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}


/* provider */
.provider-icon-button {
    width: 5rem;
    height: 5rem;
    background: #ffffff;
    /* fill: var(--opt-skyblue); */
    border-radius: 50%;
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    border:none;
    box-shadow: 0px 0px 2px 2px rgb(52, 51, 51);
    box-shadow:  5px 5px 18px #646462,
             -5px -5px 18px #ffffff;
}
.pat-icon-button {
    width: 7.5rem;
    height: 7.5rem;
    background: #ffffff;
    color: var(--opt-darkblue);
    font-size: 1.5rem;
    cursor: pointer;
    border:none;
    border-radius: 50%;
    outline: none;
    box-shadow:  5px 5px 18px #7d7d7a,
      -5px -5px 18px #ffffff;
}

.provider-icon {
    width: 2.5rem;
    height:2.5rem;
    color: var(--opt-darkblue);
}

.pat-icon {
    width: 4rem;
    height: 4rem;
    color: var(--opt-orange);
}

.add-link {
    /* color: var(--opt-darkblue); */
    color: var(--opt-orange);
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    background: none;
    outline: none;
}
.patient-header {
  color: var(--opt-darkblue);
}
/* patients */
.detail {
  background: none;
  margin: 0;
  padding: 0;
}
.pat-text {
  color: var(--opt-darkblue);
  /* font-weight: 600; */
  /* font-size: 1.25rem; */
}
.alert-icon {
  float: right;
  width: 3.5rem;
  height: 4rem;
  color: var(--opt-alert);
}
.alert-detail {
    color: var(--opt-alert);
    font-weight: 600;
    font-size: 14px;
}
.trash-btn {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.trash-btn:hover,
.trash-btn:focus,
.trash-btn:active,
.file-button:hover,
.file-button:focus,
.file-button:active,
.edit-conditions-btn:hover,
.edit-conditions-btn:focus,
.edit-conditions-btn:active {
  /* font-size: 2.5rem; */
  transform: scale(1.2);
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

th {
  padding: 0.5rem;
  text-align: left;
}

.card {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow:  5px 5px 19px #646462,
    -5px -5px 19px #ffffff;
}
.form-title {
  font-weight: 700;
}
.form-st {
  font-weight: 600;
}
.form-link {
  /* font-weight: 700; */
  color: var(--opt-orange);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.pt-link {
  color: var(--opt-orange);
  font-weight: 600;
  text-decoration: none;
}
label {
  font-weight: 500;
  color: var(--opt-darkblue);
  font-family: var(--poppins);
}


hr {
  border: 1px solid var(--opt-darkblue);
}
p {
  display: flex-inline;
  margin-top: 1em;
  padding: .5em;
  color: var(--opt-darkblue);
  background-color: var(--opt-skyblue);
  font-family: var(--poppins);
}
span {
  color: var(--opt-alert);
  font-weight: 600;
  /* font-family: var(--poppins); */
}
.text {
  color: var(--opt-darkblue);
  font-weight: 600;
  font-family: var(--poppins);
}
.text-two {
  color: var(--opt-darkblue);
  font-weight: 400;
}

.form-btn,
.form-sub-btn {
  color: white;
  border-radius: 25px;
  background-image: linear-gradient(#7191b3,var(--opt-darkblue) 50%,#3f658f);
  border: 1px solid #36587c;
}

.form-btn:hover,
.form-btn:focus,
.form-btn:active {
  background-image: linear-gradient(#3f658f,var(--opt-darkblue) 50%,#7191b3);
  border: 1px solid #36587c;
  color: white;
  opacity: 0.95;
}

.cancel-btn {
  color: white;
  border-radius: 25px;
  background-image: linear-gradient(#de8d8d,var(--opt-alert) 50%,#e35353);
  border: 1px solid #ff5f5f;
}

.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active {
  background-image: linear-gradient(#ff5f5f,var(--opt-alert) 50%,#f76a6a);
  border: 1px solid #ff5f5f;
  color: white;
  opacity: 0.95;
}
.file-button{
    border: none;
    background: transparent;
    color: #002677  ;
}

.edit-conditions-btn {
    border: none;
    background: transparent;
    color: #002677  ;
}

.scroll-btn {
  position: fixed;
  bottom: 50px;
  right: 50%;
  color: var(--opt-darkblue);
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.scroll-btn:hover,
.scroll-btn:focus,
.scroll-btn:active {
  /* font-size: 2.5rem; */
  transform: scale(1.5);
}



