:root {

  --mont: 'Montserrat Alternates', sans-serif;
  --poppins: 'Poppins', sans-serif;

  --opt-orange: #ff612b;
  --opt-skyblue: #d9f6fa;
  --opt-softblue: #f3ffff;
  --opt-warmwhite: #fbf9f4;
  --opt-darkblue: #002677;
  --opt-darkgray: #5a5a5a;

  --opt-success: #007000;
  --opt-alert: #c40000;
  --opt-callout: #f5b700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    background: var(--opt-softblue);
    height: 100vh;
    width: 100%;
    font-family: var(--poppins);
    font-size: 1em;
    color: var(--opt-darkgray);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    /* prevent shift right on modal load */
    padding-right: 0px !important; 
    position: relative!important;
    /* stop horizontal scroll */
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.main {
  align-items: center;
  width: 100%;
  height: auto;
}

.main-inner {
  height: 100%;
  background: var(--opt-softblue);
}
.home {
  height: 95vh;
  width: auto;
  margin: auto;
  padding: auto;
  background: transparent;
  justify-content: center;
  align-content: center;
}
.title {
  font-family: var(--mont);
  font-size: 2.5em;
  color: var(--opt-orange);
  font-weight: 700;
}
.intro-holder {
  padding: 0 30px;
}

.intro-card {
  background: var(--opt-orange);
}

.card-two {
  background: var(--opt-darkblue);
}
.intro-text {
  background: none;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 700;
}

/* header */
.myNav {
  border-bottom: 1px solid var(--opt-orange);
  background: var(--opt-warmwhite);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 100;
  
}
.med-view {
  /* font-size: 2.5em; */
  font-weight: 700;
  color: var(--opt-orange);
  font-family: var(--mont);
}
.nav-item {
  width: 100%;
  word-wrap: none;
}
.nav-link {
  color: var(--opt-darkgray);
  font-weight: 600;
}
.navbar-toggler {
  border: none;
  outline: none;
  background: none;
  color: var(--opt-warmwhite);
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
  background: none;
  outline: none;
}


.logout {
  background: none;
  border: none;
  color: var(--opt-darkgray);
  font-weight: 600;
}
.logout:hover,
.logout:focus,
.logout:active {
  background: none;
  outline: none;
  color: #3399F3;
  border: none;
}

h2, h3, h4, h5  {
  color: var(--opt-darkblue)!important;
  font-weight: 700;
}

h4 {
  color: var(--opt-darkblue);
  font-weight: 600;
}

/* calculate the height  */
.view {
  height: 100%;
}
.view-content {
  margin: auto;
}
.holder {
  height: 90vh;
  width: 100%;
  align-items: center;
}

/* forms */

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}


/* provider */
.provider-icon-button {
    width: 5rem;
    height: 5rem;
    background: #ffffff;
    border-radius: 50%;
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    border:none;
    box-shadow: 0px 0px 2px 2px rgb(52, 51, 51);
    box-shadow:  5px 5px 18px #646462,
        -5px -5px 18px #ffffff;
}
.pat-icon-button {
    width: 7.5rem;
    height: 7.5rem;
    background: #ffffff;
    color: var(--opt-darkblue);
    font-size: 1.5rem;
    cursor: pointer;
    border:none;
    border-radius: 50%;
    outline: none;
    box-shadow:  5px 5px 18px #7d7d7a,
      -5px -5px 18px #ffffff;
}

.provider-icon {
    width: 2.5rem;
    height:2.5rem;
    color: var(--opt-darkblue);
}

.pat-icon {
    width: 4rem;
    height: 4rem;
    color: var(--opt-orange);
}

.add-link {
    /* color: var(--opt-darkblue); */
    color: var(--opt-orange);
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    background: none;
    outline: none;
}
.patient-header {
  color: var(--opt-darkblue);
}
/* patients */
.detail {
  background: none;
  margin: 0;
  padding: 0;
}
.pat-text {
  color: var(--opt-darkblue);
}
.alert-icon {
  float: right;
  width: 3.5rem;
  height: 4rem;
  color: var(--opt-alert);
}
.alert-detail {
    color: var(--opt-alert);
    font-weight: 600;
    font-size: 14px;
}
.trash-btn {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  
}
.trash-btn:hover,
.trash-btn:focus,
.trash-btn:active,
.file-button:hover,
.file-button:focus,
.file-button:active,
.edit-conditions-btn:hover,
.edit-conditions-btn:focus,
.edit-conditions-btn:active {
  transform: scale(1.2);
}
.trash-icon {

  width: 2rem;
  height: 2rem;
  color: white;
  background: var(--opt-alert);
  border: 1px solid white;
  border-radius: 50%;
  box-shadow:  5px 5px 16px #91908e,
    -5px -5px 16px #ffffff;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

th {
  padding: 0.5rem;
  text-align: left;
}

.card {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow:  5px 5px 19px #646462,
    -5px -5px 19px #ffffff;
}
.form-title {
  font-weight: 700;
}
.form-st {
  font-weight: 600;
}
.form-link {
  color: var(--opt-orange);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.pt-link {
  color: var(--opt-orange);
  font-weight: 600;
  text-decoration: none;
}
label {
  font-weight: 500;
  color: var(--opt-darkblue);
  font-family: var(--poppins);
}


hr {
  border: 1px solid var(--opt-darkblue);
}
p {
  display: flex-inline;
  margin-top: 1em;
  padding: .5em;
  color: var(--opt-darkblue);
  background-color: var(--opt-skyblue);
  font-family: var(--poppins);
}
span {
  color: var(--opt-alert);
  font-weight: 600;
}
.text {
  color: var(--opt-darkblue);
  font-weight: 600;
  font-family: var(--poppins);
}
.text-two {
  color: var(--opt-darkblue);
  font-weight: 400;
}

.form-btn,
.form-sub-btn {
  color: white;
  border-radius: 25px;
  background-image: linear-gradient(#7191b3,var(--opt-darkblue) 50%,#3f658f);
  border: 1px solid #36587c;
}

.form-btn:hover,
.form-btn:focus,
.form-btn:active {
  background-image: linear-gradient(#3f658f,var(--opt-darkblue) 50%,#7191b3);
  border: 1px solid #36587c;
  color: white;
  opacity: 0.95;
}

.cancel-btn {
  color: white;
  border-radius: 25px;
  background-image: linear-gradient(#de8d8d,var(--opt-alert) 50%,#e35353);
  border: 1px solid #ff5f5f;
}

.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active {
  background-image: linear-gradient(#ff5f5f,var(--opt-alert) 50%,#f76a6a);
  border: 1px solid #ff5f5f;
  color: white;
  opacity: 0.95;
}
.file-button{
    border: none;
    background: transparent;
    color: #002677  ;
}

.edit-conditions-btn {
    border: none;
    background: transparent;

}
.edit-icon {
  border-radius: 2px;
  background: white;
  box-shadow:  3px 3px 6px #646462,
    -3px -3px 6px #ffffff;
}

.scroll-btn {
  position: fixed;
  bottom: 50px;
  right: 50%;
  color: var(--opt-darkblue);
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.scroll-btn:hover,
.scroll-btn:focus,
.scroll-btn:active {
  transform: scale(1.5);
}

@media screen and (min-width: 576px) {
  .title {
    font-size: 2.5em;
  }
  .intro-text {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3em;
  }

  .intro-text {
    font-size: 1.6em;
  }
  .card-blue {
    background-color: var(--opt-darkblue);
  }
  .card-orange {
    background-color: var(--opt-orange);
  }
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 3.5em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 4.5em;
  }
}




